{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-wrapper">
        <nav id="mainNav-ID" class="mainNav">
            <button id="secret-button" class="mainNav-menuToggle">
                <i class="fas fa-bars"></i>
            </button>
            <div class="mainNav-logo">
                <a href="/">
                    <img src="{{ asset('dist/images/logos-agency.png') }}" alt=""/>
                </a>
            </div>

            <div id="mainDiv-ID" class="mainNav-top">
                <ul>
                    <li><a href="/" class="onepage current">HOME</a>
                    </li>
                    <li><a href="#about" class="onepage">ABOUT US</a></li>
                    <li><a href="#services" class="onepage">SERVICES</a></li>
                    <li><a href="#portfolio" class="onepage">PORTFOLIO</a></li>
                    <li><a href="#team" class="onepage">OUR TEAM</a></li>
                    <li><a href="#contact-us" class="onepage">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
        <div id="main">
            <div id="about" class="section bg-white pt-7 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <div class="header-font underlined mb-2 header-underlined">
                                    <h4 class="fz-19 fw-bolder">EVERY PROJECT IS UNIQUE</h4>
                                </div>
                                <div class="header-font mb-2">
                                    <h1 class="fw-600 dark-color fz-45 text-shadow">MASTERING THE DETAILS</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section bg-white pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <h4 class="fw-bolder text-shadow color mb-2">WE ARE HONEST.</h4>
                                <p>
                                    It is this ray which has enabled them to so perfect aviation that battle ships far
                                    outweighing anything known upon Earth sail as gracefully and lightly through the
                                    thin air of Barsoom as a toy balloon in the heavy atmosphere of Earth.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <h4 class="fw-bolder text-shadow color mb-2">WE ARE SKILLED.</h4>
                                <p>
                                    It is this ray which has enabled them to so perfect aviation that battle ships far
                                    outweighing anything known upon Earth sail as gracefully and lightly through the
                                    thin air of Barsoom as a toy balloon in the heavy atmosphere of Earth.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <h4 class="fw-bolder text-shadow color mb-2">WE ARE PROFESSIONAL.</h4>
                                <p>
                                    It is this ray which has enabled them to so perfect aviation that battle ships far
                                    outweighing anything known upon Earth sail as gracefully and lightly through the
                                    thin air of Barsoom as a toy balloon in the heavy atmosphere of Earth.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="simple_line icon mt-2 mb-2"><i class="fa fa-ra"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section bg-white pt-4 pb-8">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <img src="{{ asset('dist/images/img_4.jpg') }}" alt=""/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="header-font mb-2">
                                <h4 class="fw-bolder uppercase color text-shadow">Our History.</h4>
                            </div>
                            <div class="mb-2">
                                <strong>Delivering awesome stuff</strong> subdue likeness fruitful in the most common
                                way likeness signs should living open meat was he, make night in unto sea first darkness
                                days. Ship and boat diverged.
                            </div>
                            <div class="tabs white-tabs">
                                <!-- Nav tabs -->
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab-content-1" data-toggle="tab">First Steps</a>
                                        </li>
                                        <li>
                                            <a href="#tab-content-2" data-toggle="tab">Going Further</a>
                                        </li>
                                        <li>
                                            <a href="#tab-content-3" data-toggle="tab">Market Leaders</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active fade in" id="tab-content-1">
                                        <p>
                                            An eagle flew thrice round Tarquin’s head, removing his cap to replace it,
                                            and thereupon Tanaquil, his wife, declared that Tarquin would be king of
                                            Rome. But only by the replacing of the cap was that omen accounted good.
                                            Ahab’s hat was never restored; the wild hawk flew on and on with it; far in
                                            advance of the prow: and at last disappeared; while from the point of that
                                            disappearance, a minute black spot was dimly discerned, falling from that
                                            vast height into the sea.
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="tab-content-2">
                                        <p>
                                            The intense Pequod sailed on; the rolling waves and days went by; the
                                            life-buoy-coffin still lightly swung; and another ship, most miserably
                                            misnamed the Delight, was descried. As she drew nigh, all eyes were fixed
                                            upon her broad beams, called shears, which, in some whaling-ships, cross the
                                            quarter-deck at the height of eight or nine feet; serving to carry the
                                            spare, unrigged, or disabled boats. And I told him to stay anyway.
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="tab-content-3">
                                        <p>
                                            My boy, my own boy is among them. For God’s sake—I beg, I conjure”—here
                                            exclaimed the stranger Captain to Ahab, who thus far had but icily received
                                            his petition. “For eight-and-forty hours let me charter your ship—I will
                                            gladly pay for it, and roundly pay for it—if there be no other way—for
                                            eight-and-forty hours only—only that—you must, oh, you must, and you SHALL
                                            do this thing. He stayed at the door the same way.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section text-center pt-7 pb-7 section-bg-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="header-font underlined color mb-2">
                                <h4 class="fz-19 fw-bolder color">STUNNING RECOGNITIONS</h4>
                            </div>
                            <div class="header-font mb-2">
                                <h1 class="fw-600 white fz-45 text-shadow">WHAT THE PRESS SAYS</h1>
                            </div>
                            <div class="owl-carousel testimonials_slider text-center mb-6" data-autoplay="true"
                                 data-delay="5500" data-pagination="true" data-touch="false">
                                <div class="item">
                                    <img src="{{ asset('dist/images/avatar/avatar_1.png') }}" class="testimonial_image" alt=""/>
                                    <div class="tm_content mt-2">
                                        <h4 class="white">
                                            "Doubtless one leading reason why the world declines honouring us whalemen,
                                            is this: they think that, at best, our vocation amounts to<br/>a butchering
                                            sort of business. There were only four witches in all the Land of Oz, and
                                            two of them, those who live in the North and<br/>the South, are good
                                            witches. We are here by all manner of defilements."
                                        </h4>
                                        <div class="tm_title fw-bolder header-font">Jaqueline Roussel</div>
                                        <div class="tm_subheading header-font white">Professional Photographer</div>
                                        <div class="tm_stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="services" class="section bg-white pt-7 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <div class="header-font underlined mb-2">
                                    <h4 class="fz-19 fw-bolder">A WIDE RANGE OF SKILLS</h4>
                                </div>
                                <div class="header-font mb-2">
                                    <h1 class="fw-600 dark-color fz-45 text-shadow">LET'S WORK TOGETHER</h1>
                                </div>
                                <p>
                                    After our return to the dead city I passed several days in comparative idleness. On
                                    the day following our return all the warriors
                                    <br/>had ridden forth early in the morning and had not returned until just before
                                    darkness fell. As I later learned, they had been to
                                    <br/>the subterranean vaults in which the eggs were kept.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section bg-white pt-0 pb-10">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="service-item pull-left mb-2">
                                <div class="service-icon pull-right">
                                    <i class="fa fa-wechat"></i>
                                </div>
                                <div class="service-content text-right pull-left">
                                    <h4 class="header-font dark-color uppercase text-shadow">Easy Payments</h4>
                                    <div class="service-desc">
                                        In what census of living small, the dead of people are just around the corner.
                                    </div>
                                </div>
                            </div>
                            <div class="service-item pull-left mb-2">
                                <div class="service-icon pull-right">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <div class="service-content text-right pull-left">
                                    <h4 class="header-font dark-color uppercase text-shadow">Control Panel</h4>
                                    <div class="service-desc">
                                        In what census of living small, the dead of people are just around the corner.
                                    </div>
                                </div>
                            </div>
                            <div class="service-item pull-left mb-2">
                                <div class="service-icon pull-right">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="service-content text-right pull-left">
                                    <h4 class="header-font dark-color uppercase text-shadow">Business Team</h4>
                                    <div class="service-desc">
                                        In what census of living small, the dead of people are just around the corner.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <img src="{{ asset('dist/images/img_5.jpg') }}" alt="" class="mb-3"/>
                        </div>
                        <div class="col-sm-3">
                            <div class="service-item pull-left mb-2">
                                <div class="service-icon pull-left">
                                    <i class="fa fa-cloud"></i>
                                </div>
                                <div class="service-content text-left pull-right">
                                    <h4 class="header-font dark-color uppercase text-shadow">Cloud Services</h4>
                                    <div class="service-desc">
                                        In what census of living small, the dead of people are just around the corner.
                                    </div>
                                </div>
                            </div>
                            <div class="service-item pull-left mb-2">
                                <div class="service-icon pull-left">
                                    <i class="fa fa-paper-plane"></i>
                                </div>
                                <div class="service-content text-left pull-right">
                                    <h4 class="header-font dark-color uppercase text-shadow">Big Projects</h4>
                                    <div class="service-desc">
                                        In what census of living small, the dead of people are just around the corner.
                                    </div>
                                </div>
                            </div>
                            <div class="service-item pull-left mb-2">
                                <div class="service-icon pull-left">
                                    <i class="fa fa-life-ring"></i>
                                </div>
                                <div class="service-content text-left pull-right">
                                    <h4 class="header-font dark-color uppercase text-shadow">Quick Support</h4>
                                    <div class="service-desc">
                                        In what census of living small, the dead of people are just around the corner.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="portfolio" class="section bg-white text-center pt-8 pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="header-font underlined mb-2">
                                <h4 class="fz-19 fw-bolder">ALL THE GOOD STUFF</h4>
                            </div>
                            <div class="header-font mb-2">
                                <h1 class="fw-600 dark-color fz-45 text-shadow">PORTFOLIO</h1>
                            </div>
                            <p>
                                After our return to the dead city I passed several days in comparative idleness. On the
                                day following our return all the warriors
                                <br/>had ridden forth early in the morning and had not returned until just before
                                darkness fell. As I later learned, they had been to
                                <br/>the subterranean vaults in which the eggs were kept.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section bg-white pb-16">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- START AJAX SECTION -->
                            <div id="ajax-section">
                                <div id="top-bar-wrapper">
                                    <div id="top-bar-nav">
                                        <div class="squared-button">
                                            <div id="fount-left" class="fount-left-figure">
                                                <div class="inner-mover">
                                                    <div class="mover">
                                                        <a href="#">
                                                            <i class="fa fa-arrow-left"></i>
                                                            <i class="fa fa-arrow-left second"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="squared-close" class="squared-button" data-href="#loader">
                                            <div id="fount-close" class="fount-close-figure">
                                                <i class="fa fa-times mfp-close"></i>
                                            </div>
                                        </div>
                                        <div class="squared-button">
                                            <div id="fount-right" class="fount-right-figure">
                                                <div class="inner-mover">
                                                    <div class="mover">
                                                        <a href="#">
                                                            <i class="fa fa-arrow-right"></i>
                                                            <i class="fa fa-arrow-right second"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="loader"></div>
                                <div id="ajax-content-outer">
                                    <div id="ajax-content-inner"></div>
                                </div>
                            </div>
                            <div class="cms-grid-filter text-center mb-1">
                                <ul class="fount-folio-filter header-font uppercase">
                                    <li><a class="active" href="#" data-filter="">All</a></li>
                                    <li><a href="#" data-filter=".objects">Objects</a></li>
                                    <li><a href="#" data-filter=".stills">Stills</a></li>
                                    <li><a href="#" data-filter=".urban">Urban</a></li>
                                    <li><a href="#" data-filter=".vintage">Vintage</a></li>
                                </ul>
                            </div>
                            <div id="portfolio-wrap" class="folio-masonry isotope-grid-post mb-5">
                                <div class="folio-item cms-grid-item col-md-4 col-sm-4 p-0 stills urban">
                                    <div class="folio-item-wrapper">
                                        <span class="folio-overlay"></span>
                                        <img src="{{ asset('dist/images/portfolio/portfolio_1.jpg') }}" class="grid_image"
                                             alt=""/>
                                        <div class="folio-content">
                                            <h3 class="header-font white fw-normal">Vintage Look</h3>
                                            <span class="folio-cate white">Stills, Urban</span>
                                        </div>
                                    </div>
                                    <div class="folio-icons-wrap">
                                        <div class="linker first">
                                            <a href="/" class="ajax-inline">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                        <div class="linker second">
                                            <a href="{{ asset('dist/images/portfolio/portfolio_1.jpg') }}" class="gallery-item">
                                                <i class="fa fa-arrows-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="folio-item cms-grid-item col-md-4 col-sm-4 p-0 objects urban">
                                    <div class="folio-item-wrapper">
                                        <span class="folio-overlay"></span>
                                        <img src="{{ asset('dist/images/portfolio/portfolio_2.jpg') }}" class="grid_image"
                                             alt=""/>
                                        <div class="folio-content">
                                            <h3 class="header-font white fw-normal">Macro Adventures</h3>
                                            <span class="folio-cate white">Objects, Urban</span>
                                        </div>
                                    </div>
                                    <div class="folio-icons-wrap">
                                        <div class="linker first">
                                            <a href="/" class="ajax-inline">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                        <div class="linker second">
                                            <a href="{{ asset('dist/images/portfolio/portfolio_2.jpg') }}" class="gallery-item">
                                                <i class="fa fa-arrows-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="folio-item cms-grid-item col-md-4 col-sm-4 p-0 stills urban">
                                    <div class="folio-item-wrapper">
                                        <span class="folio-overlay"></span>
                                        <img src="{{ asset('dist/images/portfolio/portfolio_3.jpg') }}" class="grid_image"
                                             alt=""/>
                                        <div class="folio-content">
                                            <h3 class="header-font white fw-normal">Lone Ranger</h3>
                                            <span class="folio-cate white">Stills, Urban</span>
                                        </div>
                                    </div>
                                    <div class="folio-icons-wrap">
                                        <div class="linker first">
                                            <a href="/" class="ajax-inline">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                        <div class="linker second">
                                            <a href="{{ asset('dist/images/portfolio/portfolio_3.jpg') }}" class="gallery-item">
                                                <i class="fa fa-arrows-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="folio-item cms-grid-item col-md-4 col-sm-4 p-0 objects urban">
                                    <div class="folio-item-wrapper">
                                        <span class="folio-overlay"></span>
                                        <img src="{{ asset('dist/images/portfolio/portfolio_4.jpg') }}" class="grid_image"
                                             alt=""/>
                                        <div class="folio-content">
                                            <h3 class="header-font white fw-normal">The Bad Guys</h3>
                                            <span class="folio-cate white">Objects, Urban</span>
                                        </div>
                                    </div>
                                    <div class="folio-icons-wrap">
                                        <div class="linker first">
                                            <a href="/" class="ajax-inline">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                        <div class="linker second">
                                            <a href="{{ asset('dist/images/portfolio/portfolio_4.jpg') }}" class="gallery-item">
                                                <i class="fa fa-arrows-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="folio-item cms-grid-item col-md-4 col-sm-4 p-0 objects urban">
                                    <div class="folio-item-wrapper">
                                        <span class="folio-overlay"></span>
                                        <img src="{{ asset('dist/images/portfolio/portfolio_5.jpg') }}" class="grid_image"
                                             alt=""/>
                                        <div class="folio-content">
                                            <h3 class="header-font white fw-normal">The Artist</h3>
                                            <span class="folio-cate white">Objects, Urban</span>
                                        </div>
                                    </div>
                                    <div class="folio-icons-wrap">
                                        <div class="linker first">
                                            <a href="/" class="ajax-inline">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                        <div class="linker second">
                                            <a href="{{ asset('dist/images/portfolio/portfolio_5.jpg') }}" class="gallery-item">
                                                <i class="fa fa-arrows-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="folio-item cms-grid-item col-md-4 col-sm-4 p-0 stills urban">
                                    <div class="folio-item-wrapper">
                                        <span class="folio-overlay"></span>
                                        <img src="{{ asset('dist/images/portfolio/portfolio_6.jpg') }}" class="grid_image"
                                             alt=""/>
                                        <div class="folio-content">
                                            <h3 class="header-font white fw-normal">Metal Typer</h3>
                                            <span class="folio-cate white">Stills, Urban</span>
                                        </div>
                                    </div>
                                    <div class="folio-icons-wrap">
                                        <div class="linker first">
                                            <a href="/" class="ajax-inline">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                        <div class="linker second">
                                            <a href="{{ asset('dist/images/portfolio/portfolio_6.jpg') }}" class="gallery-item">
                                                <i class="fa fa-arrows-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="folio-item cms-grid-item col-md-4 col-sm-4 p-0 vintage urban">
                                    <div class="folio-item-wrapper">
                                        <span class="folio-overlay"></span>
                                        <img src="{{ asset('dist/images/portfolio/portfolio_7.jpg') }}" class="grid_image"
                                             alt=""/>
                                        <div class="folio-content">
                                            <h3 class="header-font white fw-normal">Supersoaker</h3>
                                            <span class="folio-cate white">Urban, Vintage</span>
                                        </div>
                                    </div>
                                    <div class="folio-icons-wrap">
                                        <div class="linker first">
                                            <a href="/" class="ajax-inline">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                        <div class="linker second">
                                            <a href="{{ asset('dist/images/portfolio/portfolio_7.jpg') }}" class="gallery-item">
                                                <i class="fa fa-arrows-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="folio-item cms-grid-item col-md-4 col-sm-4 p-0 vintage urban">
                                    <div class="folio-item-wrapper">
                                        <span class="folio-overlay"></span>
                                        <img src="{{ asset('dist/images/portfolio/portfolio_8.jpg') }}" class="grid_image"
                                             alt=""/>
                                        <div class="folio-content">
                                            <h3 class="header-font white fw-normal">Tiny Box</h3>
                                            <span class="folio-cate white">Urban, Vintage</span>
                                        </div>
                                    </div>
                                    <div class="folio-icons-wrap">
                                        <div class="linker first">
                                            <a href="/" class="ajax-inline">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                        <div class="linker second">
                                            <a href="{{ asset('dist/images/portfolio/portfolio_8.jpg') }}" class="gallery-item">
                                                <i class="fa fa-arrows-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="folio-item cms-grid-item col-md-4 col-sm-4 p-0 stills urban">
                                    <div class="folio-item-wrapper">
                                        <span class="folio-overlay"></span>
                                        <img src="{{ asset('dist/images/portfolio/portfolio_9.jpg') }}" class="grid_image"
                                             alt=""/>
                                        <div class="folio-content">
                                            <h3 class="header-font white fw-normal">City Talk</h3>
                                            <span class="folio-cate white">Stills, Urban</span>
                                        </div>
                                    </div>
                                    <div class="folio-icons-wrap">
                                        <div class="linker first">
                                            <a href="/" class="ajax-inline">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                        <div class="linker second">
                                            <a href="{{ asset('dist/images/portfolio/portfolio_9.jpg') }}" class="gallery-item">
                                                <i class="fa fa-arrows-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="theme-button bordered-buttons">
                                    <a href="#" class="with-icon">
                                        <div class="text-shifter">LOAD MORE</div>
                                        <div class="icon-cell">
                                            <i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="team" class="section bg-white text-center pt-8 pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="header-font underlined mb-2">
                                <h4 class="fz-19 fw-bolder">A LITTLE BIT ABOUT US</h4>
                            </div>
                            <div class="header-font mb-2">
                                <h1 class="fw-600 dark-color fz-45 text-shadow">HONEST PEOPLE</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section bg-light pb-7">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 authors">
                            <div class="member-ul-slider author-list" data-navigation="true" data-touch="false">
                                <div class="item text-center author">
                                    <div class="member-thumbnail">
                                        <img src="{{ asset('dist/images/team/team_1.jpg') }}" alt=""/>
                                    </div>
                                    <div class="member-name text-shadow dark-color header-font">
                                        Mel Kirsten
                                    </div>
                                    <div class="member-position fw-600">
                                        General Manager
                                    </div>
                                    <div class="simple_line small-centered medium-2 mb-1"></div>
                                    <div class="member-desc">
                                        Nor, in some things, does the common, hereditary experience of all mankind fail
                                        to bear witness to the supernaturalism of this hue.
                                    </div>
                                    <div class="member-socials">
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-envelope-o">
                                                <a href="mailto:email@fount.com" target="_blank">
                                                    <span class="fount-envelope-o fa fa-envelope-o"></span>
                                                    <span class="bg-shifter"><i class="fa fa-envelope-o"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-facebook">
                                                <a href="#" target="_blank">
                                                    <span class="fount-facebook fa fa-facebook"></span>
                                                    <span class="bg-shifter"><i class="fa fa-facebook"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-linkedin">
                                                <a href="#" target="_blank">
                                                    <span class="fount-linkedin fa fa-linkedin"></span>
                                                    <span class="bg-shifter"><i class="fa fa-linkedin"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-twitter">
                                                <a href="#" target="_blank">
                                                    <span class="fount-twitter fa fa-twitter"></span>
                                                    <span class="bg-shifter"><i class="fa fa-twitter"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item text-center author">
                                    <div class="member-thumbnail">
                                        <img src="{{ asset('dist/images/team/team_2.jpg') }}" alt=""/>
                                    </div>
                                    <div class="member-name text-shadow dark-color header-font">
                                        Ray Jones
                                    </div>
                                    <div class="member-position fw-600">
                                        Client Manager
                                    </div>
                                    <div class="simple_line small-centered medium-2 mb-1"></div>
                                    <div class="member-desc">
                                        What is it that undoubtedly the Albino man so peculiarly repels and often shocks
                                        the eye, specially that sometimes rethinked is loathed.
                                    </div>
                                    <div class="member-socials">
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-envelope-o">
                                                <a href="mailto:email@fount.com" target="_blank">
                                                    <span class="fount-envelope-o fa fa-envelope-o"></span>
                                                    <span class="bg-shifter"><i class="fa fa-envelope-o"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-facebook">
                                                <a href="#" target="_blank">
                                                    <span class="fount-facebook fa fa-facebook"></span>
                                                    <span class="bg-shifter"><i class="fa fa-facebook"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-linkedin">
                                                <a href="#" target="_blank">
                                                    <span class="fount-linkedin fa fa-linkedin"></span>
                                                    <span class="bg-shifter"><i class="fa fa-linkedin"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-twitter">
                                                <a href="#" target="_blank">
                                                    <span class="fount-twitter fa fa-twitter"></span>
                                                    <span class="bg-shifter"><i class="fa fa-twitter"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item text-center author">
                                    <div class="member-thumbnail">
                                        <img src="{{ asset('dist/images/team/team_3.jpg') }}" alt=""/>
                                    </div>
                                    <div class="member-name text-shadow dark-color header-font">
                                        Laura Turner
                                    </div>
                                    <div class="member-position fw-600">
                                        Marketing Director
                                    </div>
                                    <div class="simple_line small-centered medium-2 mb-1"></div>
                                    <div class="member-desc">
                                        Yesterday there seemed to be no possibility of getting her hands specially after
                                        her head, she attempted yesterday getting her head down.
                                    </div>
                                    <div class="member-socials">
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-envelope-o">
                                                <a href="mailto:email@fount.com" target="_blank">
                                                    <span class="fount-envelope-o fa fa-envelope-o"></span>
                                                    <span class="bg-shifter"><i class="fa fa-envelope-o"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-facebook">
                                                <a href="#" target="_blank">
                                                    <span class="fount-facebook fa fa-facebook"></span>
                                                    <span class="bg-shifter"><i class="fa fa-facebook"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-linkedin">
                                                <a href="#" target="_blank">
                                                    <span class="fount-linkedin fa fa-linkedin"></span>
                                                    <span class="bg-shifter"><i class="fa fa-linkedin"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-twitter">
                                                <a href="#" target="_blank">
                                                    <span class="fount-twitter fa fa-twitter"></span>
                                                    <span class="bg-shifter"><i class="fa fa-twitter"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item text-center author">
                                    <div class="member-thumbnail">
                                        <img src="{{ asset('dist/images/team/team_4.jpg') }}" alt=""/>
                                    </div>
                                    <div class="member-name text-shadow dark-color header-font">
                                        Martha Lennox
                                    </div>
                                    <div class="member-position fw-600">
                                        Marketing Director
                                    </div>
                                    <div class="simple_line small-centered medium-2 mb-1"></div>
                                    <div class="member-desc">
                                        Nor, in some things, does the common, hereditary experience of all mankind fail
                                        to bear witness to the supernaturalism of this hue.
                                    </div>
                                    <div class="member-socials">
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-envelope-o">
                                                <a href="mailto:email@fount.com" target="_blank">
                                                    <span class="fount-envelope-o fa fa-envelope-o"></span>
                                                    <span class="bg-shifter"><i class="fa fa-envelope-o"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-facebook">
                                                <a href="#" target="_blank">
                                                    <span class="fount-facebook fa fa-facebook"></span>
                                                    <span class="bg-shifter"><i class="fa fa-facebook"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-linkedin">
                                                <a href="#" target="_blank">
                                                    <span class="fount-linkedin fa fa-linkedin"></span>
                                                    <span class="bg-shifter"><i class="fa fa-linkedin"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-twitter">
                                                <a href="#" target="_blank">
                                                    <span class="fount-twitter fa fa-twitter"></span>
                                                    <span class="bg-shifter"><i class="fa fa-twitter"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item text-center author">
                                    <div class="member-thumbnail">
                                        <img src="{{ asset('dist/images/team/team_5.jpg') }}" alt=""/>
                                    </div>
                                    <div class="member-name text-shadow dark-color header-font">
                                        Peter Curry
                                    </div>
                                    <div class="member-position fw-600">
                                        Client Manager
                                    </div>
                                    <div class="simple_line small-centered medium-2 mb-1"></div>
                                    <div class="member-desc">
                                        What is it that undoubtedly the Albino man so peculiarly repels and often shocks
                                        the eye, specially that sometimes rethinked is loathed.
                                    </div>
                                    <div class="member-socials">
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-envelope-o">
                                                <a href="mailto:email@fount.com" target="_blank">
                                                    <span class="fount-envelope-o fa fa-envelope-o"></span>
                                                    <span class="bg-shifter"><i class="fa fa-envelope-o"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-facebook">
                                                <a href="#" target="_blank">
                                                    <span class="fount-facebook fa fa-facebook"></span>
                                                    <span class="bg-shifter"><i class="fa fa-facebook"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-linkedin">
                                                <a href="#" target="_blank">
                                                    <span class="fount-linkedin fa fa-linkedin"></span>
                                                    <span class="bg-shifter"><i class="fa fa-linkedin"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <div class="social-img-wrp fount-socialink prk_bordered fount-twitter">
                                                <a href="#" target="_blank">
                                                    <span class="fount-twitter fa fa-twitter"></span>
                                                    <span class="bg-shifter"><i class="fa fa-twitter"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="contact-us" class="section bg-white text-center pt-7 pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="header-font underlined mb-2">
                                <h4 class="fz-19 fw-bolder">WE ARE ALL EARS</h4>
                            </div>
                            <div class="header-font mb-2">
                                <h1 class="fw-600 dark-color fz-45 text-shadow">GET IN TOUCH</h1>
                            </div>
                            <p>
                                After our return to the dead city I passed several days in comparative idleness. On the
                                day following our return all the warriors
                                <br/>had ridden forth early in the morning and had not returned until just before
                                darkness fell. As I later learned, they had been to
                                <br/>the subterranean vaults in which the eggs were kept.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section bg-white pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="simple_line icon mt-2 mb-2"><i class="fa fa-globe"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section bg-white pb-10">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="header-font mb-2">
                                <h4 class="fw-bolder uppercase color">Tell us your thoughs.</h4>
                            </div>
                            <div class="mb-2">
                                I faced about again, and rushed towards the approaching Martian, rushed right down the
                                gravelly beach and headlong into the water. Others did the same. A boatload of people
                                putting back came leaping out as I rushed past.
                            </div>
                            <form id="contact-form">
                                <div class="row">
                                    <div class="col-sm-12 mb-1">
                                        <input type="text" class="highlighted" name="name" id="name"
                                               placeholder="Name (required)"/>
                                    </div>
                                    <div class="col-sm-12 mb-1">
                                        <input type="text" class="highlighted" name="email" id="email"
                                               placeholder="Email (required)"/>
                                    </div>
                                    <div class="col-sm-12 mb-1">
                                        <input type="text" class="highlighted" name="subject" id="subject"
                                               placeholder="Subject"/>
                                    </div>
                                    <div class="col-sm-12 mb-1">
                                        <textarea class="highlighted" name="message" id="message" rows="8"
                                                  placeholder="Your message"></textarea>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="theme-button bordered-buttons">
                                            <a href="#" class="with-icon">
                                                <div class="text-shifter uppercase">Send Message</div>
                                                <div class="icon-cell">
                                                    <i class="fa fa-chevron-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <div class="header-font mb-2">
                                <h4 class="fw-bolder uppercase color">Come and meet us anytime.</h4>
                            </div>
                            <div class="mb-2">
                                By hints, I asked him whether he did not propose going back, and having a coronation;
                                since he might now consider his father dead and gone. I never thought that I would reach
                                here someday. It felt really good and perfect.
                            </div>
                            <div class="fount_vcard mb-2">
                                <div class="fount_vcard_block fw-600 mb-1">
                                    <i class="fa fa-map-marker fount_address_icon black"></i>
                                    <div class="street-address fount_after_vcard_icon">
                                        River Street, Blue Building, 1st floor
                                    </div>
                                    <div class="postal-code fount_after_vcard_icon">
                                        5690 - 970 New York City
                                    </div>
                                </div>
                                <div class="fount_vcard_block fw-600 mb-1">
                                    <i class="fa fa-phone fount_address_icon black"></i>
                                    <div class="fount_after_vcard_icon header-font">
                                        +1 (245) 785 952 354
                                    </div>
                                </div>
                                <div class="fount_vcard_block fw-600 mb-1">
                                    <i class="fa fa-clock-o fount_address_icon black"></i>
                                    <div class="fount_after_vcard_icon header-font">
                                        Monday to Friday - 9 PM to 18 PM
                                    </div>
                                </div>
                                <div class="fount_vcard_block fw-600 mb-1">
                                    <i class="fa fa-envelope fount_address_icon black"></i>
                                    <div class="fount_after_vcard_icon header-font">
                                        <a class="default_color" href="mailto:email@domain.com">
                                            email@domain.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section bg-color pt-4 pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <a class="white fz-20" href="#" target="_blank">Are you ready? Grab a copy of this theme
                                    now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="section reveal">
            <div class="footer-inner">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="widget mt-5">
                                    <div class="widget-inner">
                                        <img src="{{ asset('dist/images/logos-agency.png') }}" alt="" class="mb-1"/>
                                        <p>This is one of the theme widgets that you can add to any sidebar.</p>
                                        <div class="fount_vcard mb-2">
                                            <div class="fount_vcard_block mb-1">
                                                <i class="fa fa-map-marker fount_address_icon fz-14 white"></i>
                                                <div class="fount_after_vcard_icon default_color header-font">
                                                    River Street, Blue Building, 1st floor
                                                </div>
                                            </div>
                                            <div class="fount_vcard_block mb-1">
                                                <i class="fa fa-phone fount_address_icon fz-14 white"></i>
                                                <div class="fount_after_vcard_icon default_color header-font">
                                                    +1 (245) 785 952 354
                                                </div>
                                            </div>
                                            <div class="fount_vcard_block mb-1">
                                                <i class="fa fa-clock-o fount_address_icon fz-14 white"></i>
                                                <div class="fount_after_vcard_icon default_color header-font">
                                                    Monday to Friday - 9 PM to 18 PM
                                                </div>
                                            </div>
                                            <div class="fount_vcard_block mb-1">
                                                <i class="fa fa-envelope fount_address_icon fz-14 white"></i>
                                                <div class="fount_after_vcard_icon header-font">
                                                    <a class="default_color" href="mailto:email@domain.com">
                                                        email@domain.com
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget mt-5">
                                    <div class="widget-inner">
                                        <div class="widget-title header-font text-shadow white">Recent Posts</div>
                                        <div class="recent-posts">
                                            <ul class="recent-post">
                                                <li>
                                                    <div class="recent-post-date">June 12, 2016</div>
                                                    <h6 class="header-font fw-bolder">
                                                        <a href="/" class="zero_color">
                                                            Doing Things Right
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>
                                                    </h6>
                                                    <div class="simple_line"></div>
                                                </li>
                                                <li>
                                                    <div class="recent-post-date">May 27, 2016</div>
                                                    <h6 class="header-font fw-bolder">
                                                        <a href="/" class="zero_color">
                                                            Technology Slaves
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>
                                                    </h6>
                                                    <div class="simple_line"></div>
                                                </li>
                                                <li>
                                                    <div class="recent-post-date">April 28, 2016</div>
                                                    <h6 class="header-font fw-bolder">
                                                        <a href="/" class="zero_color">
                                                            Gallery Post
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>
                                                    </h6>
                                                    <div class="simple_line"></div>
                                                </li>
                                                <li>
                                                    <div class="recent-post-date">April 7, 2016</div>
                                                    <h6 class="header-font fw-bolder">
                                                        <a href="/" class="zero_color">
                                                            Get Ready For Business
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>
                                                    </h6>
                                                    <div class="simple_line"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget mt-5">
                                    <div class="widget-inner">
                                        <div class="widget-title header-font text-shadow white">Latest Tweets</div>
                                        <div class="recent-tweets">
                                            <div class="twt-avatar">
                                                <a target="_blank" href="#">
                                                    <img src="{{ asset('dist/images/avatar/author.jpg') }}" alt=""/>
                                                </a>
                                            </div>
                                            <div class="twt-author header-font fw-bolder">Author</div>
                                            <div class="twt-follow">
                                                <a target="_blank" href="#">Follow on Twitter</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="simple_line"></div>
                                            <div class="twt-icon pull-left">
                                                <i class="fa fa-twitter"></i>
                                            </div>
                                            <div class="twitter-slider" data-autoplay="true" data-delay="5500">
                                                <ul class="slides">
                                                    <li class="twt-item">
                                                        <div class="twt-body">
                                                            <div class="twt-in">
                                                                Verve <a href="#" target="_blank">#WordPress</a> <a
                                                                        href="#" target="_blank">#Theme</a> is now
                                                                officially compatible with <a href="#" target="_blank">#WPML</a>:
                                                                <a href="#" target="_blank">https://t.co/l1Kp6Gy5RV</a>
                                                                <a href="#" target="_blank">https://t.co/OdesvAfl4h</a>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <a class="twitter-time header-font fw-bolder"
                                                               target="_blank" href="#">46 days ago</a>
                                                            <span class="twt-extra-info"> - <a
                                                                        class="twitter-time header-font fw-bolder"
                                                                        target="_blank" href="#">Author</a></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget mt-5">
                                    <div class="widget-inner">
                                        <div class="widget-title header-font text-shadow white">Mailing List</div>
                                        <p>Subscribe and stay updated with the latest news from us. We never spam!</p>
                                        <form>
                                            <div class="clearfix">
                                                <div class="form-signup-row">
                                                    <label class="fw-normal">Email<span>*</span></label>
                                                    <input type="text" placeholder="Your email" name="email"
                                                           id="footer-email" class="highlighted"/>
                                                </div>
                                                <div class="form-signup-row">
                                                    <label class="fw-normal">Name</label>
                                                    <input type="text" placeholder="Your name" name="name"
                                                           id="footer-name" class="highlighted"/>
                                                </div>
                                                <div class="form-signup-row theme-button clearfix">
                                                    <input type="submit" name="signup_submit" id="footer-signup_submit"
                                                           value="SUBSCRIBE"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="copyright" class="copyright pb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="simple_line mt-5 mb-3"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                2016 - All Rights Reserved.
                            </div>
                            <div class="col-sm-6 text-right">
                                Proudly developed by TK-Themes.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fount-to-top" class="prk_radius">
            <i class="fa fa-arrow-up"></i>
        </div>
    </div>
{% endblock %}
